@media only screen and (min-width: 320px) and (max-width: 568px) {
  .background-img-section {
    background-position: center;
  }
  /* mobile navbar styles */

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar {
    display: none;
  }

  .social-media-btns {
    display: none;
  }

  #hamburger-link {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
  }

  #hamburger-link span {
    font-size: 5rem;
  }

  /* rest of styles */
  .main-heading {
    margin-top: 5vh;
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .view-menu-btn {
    width: 35vw;
    height: 10vh;
    font-size: 0.8rem;
  }

  .monthly-special-msg {
    font-size: 0.8rem;
  }

  .view-full-menu-btn {
    width: 35vw;
    height: 10vh;
    font-size: 0.8rem;
  }

  .special-images {
    display: none;
  }

  .special-description {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  /* mobile footer styles */

  .main-footer-links {
    width: 80vw;
  }

  #footer-social-btns {
    display: flex;
    flex-direction: row;
  }

  #footer-social-btns .facebook-btn {
    height: 10vh;
    width: 10vw;
  }

  #footer-social-btns .instagram-btn {
    height: 10vh;
    width: 10vw;
  }

  .footer-subnav {
    width: 80vw;
    font-size: 0.7rem;
  }

  .footer-msg {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .background-img-section {
    background-position: center;
    height: 90vh;
  }

  .navbar-container {
    justify-content: center;
  }
  .navbar {
    display: none;
  }

  #hamburger-link {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
  }

  #hamburger-link span {
    font-size: 7rem;
  }

  .social-media-btns {
    display: none;
  }

  .monthly-special-section {
    padding-bottom: 10vh;
  }

  .special-images {
    height: 20vh;
    width: 25vw;
  }

  .second-special {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .main-footer-links {
    width: 45vw;
  }

  .footer-subnav {
    width: 50vw;
  }

  #footer-social-btns .facebook-btn {
    height: 8vh;
    width: 8vw;
  }

  #footer-social-btns .instagram-btn {
    height: 8vh;
    width: 8vw;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2500px) {
  .navbar {
    font-size: 2.5rem;
  }

  .main-logo {
    font-size: 2.5rem;
  }

  .facebook-btn {
    width: 8vw;
    height: 8vh;
  }

  .instagram-btn {
    width: 8vw;
    height: 8vh;
  }

  .main-heading {
    font-size: 4rem;
  }

  .subnav .subnav-btn {
    font-size: 2.7rem;
  }

  .sub-heading {
    font-size: 2.5rem;
  }

  .monthly-special-heading {
    font-size: 3rem;
  }

  .special-names {
    font-size: 3.2rem;
  }

  .special-description {
    font-size: 1.5rem;
  }

  .special-price {
    font-size: 2rem;
  }

  /* footer 1920-1080p styles */

  .main-footer-links a {
    font-size: 1.5rem;
  }

  .footer-subnav a {
    font-size: 1.2rem;
  }

  .footer-msg {
    font-size: 1.5rem;
  }

  .bottom-footer p {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 2501px) and (max-width: 3850px) {
  html {
    font-size: 200%;
  }

  .subnav .subnav-btn {
    padding: 0.4rem 0.5rem 1.3rem 0.5rem;
  }
}
